#left-menu-toggle .peicon {
    color: #e6e4e4;
}


.pt-page-1 h2 {
    color: #e6e4e4;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #e6e4e4 !important;
}

.main-nav .peicon {
    color: #e6e4e4;
}

.main-nav .peicon:hover {
    background: #e6e4e4;
}

.main-nav li .active>i {
    background: #e6e4e4;
}

.main-nav a.back-track span {
    color: #e6e4e4;
}

.timeline>li>.timeline-item>.timeline-header {
    background: #e6e4e4;
}

.resume-container .res-sec-date {
    color: #e6e4e4;
}

.av-freelance,
.personalinfo-item i {
    background: #e6e4e4;
}

.skills-cardcontent .skill-percent {
    background: #e6e4e4;
}

.skills-cardfooter .skills-label {
    background: #e6e4e4;
}

.bar-percentage {
    background: #e6e4e4;
}

.skills-container-3 .bar,
.skills-container-2 .bar {
    background: #e6e4e4;
}

.labelsection {
    background: #e6e4e4;
}

figure.snip1204 .author h5 {
    color: #e6e4e4;
}

.service-iconbox-2 {
    background: #e6e4e4;
}

.service-iconbox h5,
.service-iconbox-3 h5 {
    color: #e6e4e4;
}

.image-service .image-service-content span {
    background: #e6e4e4;
}

.counter-section .peicon {
    color: #e6e4e4;
}

.portfolio-items .portfolio-cardcontent .magnifictrig {
    background: #e6e4e4;
}

.portfolio-items .portfolio-cardcontent .magnifictrig:hover {
    color: #e6e4e4;
}

.portfocount_container {
    background: #e6e4e4;
}

.modal-header .modal-title {
    color: #e6e4e4;
}

.single-portfolio-detail .single-portfolio-label span {
    background: #e6e4e4;
}

.blog-card .cardtag .label {
    background: #e6e4e4;
}

.post-heading .posts-tag .label {
    background: #e6e4e4;
}

.post-heading .subheading {
    color: #e6e4e4;
}

.p1 a.is-active {
    background-color: #e6e4e4;
}

#right-sidebar-wrapper .sidebarwidgets .bio-details .bio-more {
    background: #e6e4e4;
}

.recent-activity ul li:before {
    border: 2px solid #e6e4e4;
}

.cta-wrapper {
    background-color: #e6e4e4;
}

.contactinfo .peicon {
    background: #e6e4e4;
}

#plan h2 {
    color: #e6e4e4;
}

#plan .price-table .table-inner .phrase {
    color: #e6e4e4;
}

#plan .price-table .table-inner .btn-blue {
    border: 1px solid #e6e4e4;
    color: #e6e4e4;
}

.calendar-title {
    color: #e6e4e4;
}

.headercal h1 {
    color: #e6e4e4;
}

.leftcal,
.rightcal {
    color: #e6e4e4;
}

.day.today .day-number {
    background: #e6e4e4 !important;
}

.day.today .day-name {
    color: #e6e4e4;
}

#nprogress .bar {
    background: #e6e4e4;
}

#nprogress .peg {
    box-shadow: 0 0 10px #e6e4e4, 0 0 5px #e6e4e4;
}

#nprogress .spinner-icon {
    border-top-color: #e6e4e4;
    border-left-color: #e6e4e4;
}

.clickedday {
    color: #e6e4e4;
}